@charset "UTF-8";

// 色
$color-main: #ffaa3b;
$color-active: #f18900;
$color-text: #3e3e3e;
$color-background: #f3f3f3;
$color-disable: #b2b2b2;

// フォント
$font-family-default: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Droid Sans", sans-serif;
$font-family-english: "Montserrat", sans-serif;

// レイアウト幅
$layout-width-canvas: 1280px;
$layout-width-inner: 1200px;

// ブレークポイント
$breakpoints: (
	"sp-down": "(max-width: 767px)",
	"sp-up": "(min-width: 768px)",
	"tab-down": "(max-width: #{$layout-width-inner - 1px})",
	"tab-up": "(min-width: #{$layout-width-inner})",
	"retina": "only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)",
);

// メディアクエリー
@mixin mq($breakpoint: sp) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}

/* リセットCSS
===================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

li, dd {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q {
  &:before, &:after {
    content: "";
    content: none;
  }
}

blockquote {
  &:before, &:after {
    content: "";
    content: none;
  }
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

/* 基本設定
===================================== */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: $color-background;
  color: $color-text;
  font-family: $font-family-default;
	line-height: 1.45;
	font-weight: 500;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.util-ttl {
  font-family: $font-family-english;
  font-size: 3rem;
	font-weight: 600;

	@include mq('sp-up') {
		font-size: 3.6rem;
	}
}

.util-linkBox {
	@include mq('sp-down') {
		text-align: center;
	}
}

.util-link {
  border: solid 1px #3e3e3e;
  color: #3e3e3e;
  display: block;
  font-family: $font-family-english;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.2em;
  padding: .8em 0;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .2s, color .2s;
  transition: background-color .2s, color .2s;

  &.mod-light {
    border-color: #fff;
    color: #fff;
	}

	@include mq('sp-up') {
		&.mod-light:hover {
      background: #fff;
      color: #3e3e3e;
    }

    &:hover {
      background: #3e3e3e;
      color: #fff;
    }
	}

	@include mq('sp-down') {
		font-size: 1.8rem;
		margin: 0 auto;
		max-width: 268px;
		padding-top: 13px;
		padding-bottom: 13px;
	}
}

/* コンテンツスタイル
===================================== */
/* header
---------------------------- */

.header {
  background: rgba(255, 255, 255, 0.1);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
	z-index: 1000;

	.add-scrolled & {
		background: rgba(255, 255, 255, 0.6);
	}

	@include mq('sp-up') {
		height: 80px;
		text-align: center;
		transition: .2s;
		z-index: 1000;
	}

	@include mq('sp-down') {
		background: rgba(255, 255, 255, 0.6);
    height: 68px;
	}
}

.header-ttl {

	@include mq('sp-up') {
		display: none;
	}

	@include mq('sp-down') {
		margin: 20px 0 0 16px;
		transition: opacity 0.3s;
		font-size: 23px;
		font-weight: 700;
		font-family: $font-family-english;
	}

	.add-active & {
		@include mq('sp-down') {
			opacity: 0;
		}
	}
}

.header-burger {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;

	@include mq('sp-down') {
		display: block;
    height: 26px;
    left: -40px;
    position: absolute;
    top: 20px;
    transition: right 0.3s linear;
    width: 26px;
	}
}

.header-burgerInline {
	@include mq('sp-down') {
		background-color: #3e3e3e;
		border-radius: 4px;
		display: block;
		height: 4px;
		left: 0;
		position: absolute;
		transition: 0.3s;
		width: 26px;
		z-index: 1;

		&:nth-child(1) {
			top: 2px;
		}

		&:nth-child(2) {
			top: 10px;
		}

		&:nth-child(3) {
			top: 18px;
		}
	}

	@include mq('sp-down') {
		.add-active & {
			background-color: #fff;

			&:nth-child(1) {
				top: 10px;
				transform: rotate(-45deg);
			}

			&:nth-child(2) {
				left: 100%;
				opacity: 0;
			}

			&:nth-child(3) {
				top: 10px;
				transform: rotate(45deg);
			}
		}
	}
}

.header-overlay {
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: .3s;
  visibility: hidden;
	width: 100%;

	.add-active & {
		opacity: 1;
		visibility: visible;
	}
}

.header-nav {
  align-items: center;
  display: flex;
	justify-content: center;

	@include mq('sp-up') {
		height: 100%;
	}

	@include mq('sp-down') {
		background: #fff;
    bottom: 0;
    position: fixed;
    right: -300px;
    text-align: center;
    top: 0;
    transition: right 0.3s linear;
    width: 300px;
    z-index: 1;
	}

	@include mq('sp-down') {
		.add-active & {
			right: 0;
		}
	}
}

.header-navList {

	@include mq('sp-up') {
		display: flex;
	}
}

.header-navItem {
	+ .header-navItem {
		@include mq('sp-up') {
			margin-left: 40px;
		}

		@include mq('sp-down') {
			margin-top: 20px;
		}
	}
}

.header-navLink {
  color: #3e3e3e;
  font-family: $font-family-english;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: -.025em;
	position: relative;

	@include mq('sp-up') {
		padding: 0.5em 0;

		&:after {
			background: #3e3e3e;
			bottom: 0;
			content: '';
			height: 1px;
			left: 0;
			position: absolute;
			transform: scaleX(0);
			transition: transform .2s;
			width: 100%;
		}

		&:hover:after {
			transform: scaleX(1);
		}
	}

	@include mq('sp-down') {
		font-size: 1.8rem;
	}
}

/* hero
---------------------------- */

.hero {
  background-image: url(../img/mv.png);
  background-position: 24% center;
  background-size: cover;
  height: 648px;
	position: relative;

	@include mq('sp-up') {
		background-position: center center;
	}

	@include mq('sp-down') {
		height: 668px;
	}

	@include mq('retina') {
		background-image: url(../img/mv@2x.png);
	}
}

.hero-inner {

	@include mq('sp-up') {
		margin: 0 auto;
		max-width: 1240px;
		padding: 228px 20px 0 0;
		width: 100%;
	}

	@include mq('sp-down') {
		padding: 220px 16px 0;
    width: 100%;
	}
}

.hero-content {

	@include mq('sp-up') {
		margin-left: auto;
		max-width: 600px;
	}
}

.hero-ttl {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: (40 / 24);
	text-align: left;

	@include mq('sp-up') {
		font-size: 3.2rem;
		line-height: (48 / 32);
	}
}

.hero-txt {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0.025em;
  line-height: 1.45;
  margin-top: 30px;
  text-align: left;

	@include mq('sp-down') {
		font-size: 1.4rem;
    line-height: (20 / 16);
    margin-top: 24px;
	}
}

.hero-link,
.contact-button {
  background-color: $color-main;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
  color: #fff;
  display: block;
  font-size: 1.8rem;
  letter-spacing: .025em;
	line-height: 48px;
	height: 48px;
  margin-top: 40px;
  text-align: center;
  transition: background-color .2s;
	width: 280px;
	font-weight: bold;

	@include mq('sp-up') {
		&:not(:disabled):hover {
			background-color: $color-active;
		}
	}

	@include mq('sp-down') {
		margin: 30px auto 0;
		width: 222px;
		font-size: 1.6rem;
	}
}

/* news
---------------------------- */

.news {
  .util-ttl {
    text-align: center;
  }

  .util-linkBox {
    margin: 40px 16px 0;

		@include mq('sp-down') {
			margin: 38px 16px 0;
		}
  }

  .util-link {
		margin: 0 auto;
		padding-top: 16px;
		padding-bottom: 16px;

		@include mq('sp-down') {
			padding-top: 13px;
			padding-bottom: 13px;
		}
	}

	@include mq('sp-up') {
		margin: 120px auto 0;
		max-width: $layout-width-inner;
		padding: 0;
		width: 100%;

		.util-link {
			width: 236px;

			&:hover {
				background: #3e3e3e;
				color: #fff;
			}
		}
	}

	@include mq('sp-down') {
		margin: -40px 16px 0;
    position: relative;
    z-index: 1;
	}
}

.news-inner {
  background: #fff;
	box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);

	@include mq('sp-up') {
		padding: 56px 48px 40px;
		width: 100%;
	}

	@include mq('sp-down') {
		padding: 36px 0 38px;
	}
}

.news-ttl,
.faq-ttl,
.access-ttl {
  font-family: $font-family-english;
  font-size: 3.6rem;
  font-weight: bold;
  font-weight: 600;
  text-align: center;

	@include mq('sp-down') {
		font-size: 3rem;
	}
}

.news-list {
  border-top: solid 2px #f0f0f0;
  margin-top: 55px;

	@include mq('sp-down') {
		margin-top: 36px;
	}
}

.news-item {
  border-bottom: solid 2px #f0f0f0;
  font-size: 1.8rem;
}

.news-itemLink {
  align-items: center;
  color: #3e3e3e;
  display: flex;
  letter-spacing: .025em;
  position: relative;
  transition: background-color .2s;

	@include mq('sp-down') {
		padding: 12px 34px 12px 16px;
	}

	@include mq('sp-up') {
		&:after {
			right: 30px;
		}

		padding: 38px 110px 38px 12px;

		&:hover {
			background-color: rgba(73, 115, 255, 0.1);
		}
	}

	&:after {
    border-right: solid 3px #3e3e3e;
    border-top: solid 3px #3e3e3e;
    content: '';
    display: block;
    height: 15px;
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 15px;
	}

	@media (max-width: 959px) {
		flex-wrap: wrap;
	}
}

.news-itemDate {
  font-family: $font-family-english;
	white-space: nowrap;
	font-weight: 400;

	@include mq('sp-down') {
		font-size: 1.4rem;
	}
}

.news-itemCategory {
  background: #fff;
  border: solid 2px #4973ff;
  border-radius: 30px;
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1.8;
	margin-left: 38px;

	@include mq('sp-up') {
		font-size: 1.4rem;
		padding: 0 30px;
		white-space: nowrap;
	}

	@include mq('sp-down') {
		padding: 0 14px;
		line-height: 1.4;
	}

	@media (max-width: 959px) {
		margin-left: 20px;
	}
}

.news-itemTxt {
  line-height: 1.6;
	margin-left: 40px;
	letter-spacing: 0.025em;

	@include mq('sp-down') {
		flex: 0 0 100%;
		font-size: 1.4rem;
		line-height: (20 / 14);
	}

	@media (max-width: 959px) {
		margin: 8px 0 0 0;
	}
}

/* service
---------------------------- */

.service {
  background: linear-gradient(to bottom, #3e3e3e 0, #3e3e3e 400px, transparent 400px, transparent 100%);
  margin-top: 60px;
  padding-top: 36px;

  .util-ttl {
    color: #fff;
    text-align: center;
	}

	@include mq('sp-up') {
		margin-top: 120px;
		padding-top: 58px;
	}
}

.service-inner {
  margin: 54px auto 0;
	max-width: 1040px;

	@include mq('sp-up') {
		padding: 0 40px;
	}

	@include mq('sp-down') {
		margin: 38px 16px 0;
	}
}

.service-list {
  background: #fff;
	box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);

	@include mq('sp-up') {
		display: flex;
		width: 100%;
	}

	@include mq('sp-down') {
		padding: 40px 0 34px;
	}
}

.service-item {
  padding: 0 16px;

	+ .service-item {
		@include mq('sp-down') {
			margin-top: 40px;
		}
	}

  dt {
    background-position: top 12px center;
    background-repeat: no-repeat;
    font-family: $font-family-english;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .2em;
    line-height: 1.3;
    padding-top: 72px;
    text-align: center;

		@include mq('sp-down') {
			background-size: 52px;
			font-size: 2rem;
		}
  }

  &:nth-child(1) dt {
    background-image: url(../img/service1.svg);
  }

  &:nth-child(2) dt {
    background-image: url(../img/service2.svg);

		@include mq('sp-down') {
			padding-top: 66px;
		}
  }

  &:nth-child(3) dt {
    background-image: url(../img/service3.svg);

		@include mq('sp-down') {
			padding-top: 66px;
		}
  }

  dd {
    font-size: 1.4rem;
    line-height: 1.72;
    margin-top: 16px;

		@include mq('sp-down') {
			margin-top: 12px;
		}
	}

	@include mq('sp-up') {
		flex: 0 1 33.3333%;
		padding: 58px 45px 60px;

		dt {
			font-size: 2rem;
			line-height: (28 / 20);
			padding-top: 72px;
			font-weight: 600;

		}

		dd {
			line-height: 1.7;
			margin-top: 14px;
		}
	}
}

/* results
---------------------------- */

.results {
  background: #3e3e3e;
  margin: 58px 0 0 0;
  max-width: calc(50vw + 600px);
	padding: 40px 0 40px 16px;

	@include mq('sp-up') {
		margin: 120px 0 0 auto;
		padding: 58px 0 60px 60px;
	}

	@include mq('sp-down') {
		padding-top: 36px;
		margin-top: 60px;
	}

  .util-ttl {
		color: #fff;

		@include mq('sp-down') {
			text-align: center;
			padding-right: 16px;
		}
  }

  .util-linkBox {
		margin: 40px 16px 0 0;

		@include mq('sp-up') {
			margin: 42px 0 0 0;
		}

		@include mq('sp-down') {
			margin: 24px 16px 0 0;
		}
	}

	.util-link {
		@include mq('sp-up') {
			max-width: 290px;
		}

		@include mq('sp-down') {
			width: 316px;
			max-width: 100%;
		}
	}
}

.results-container {
	margin-top: 36px;

	@include mq('sp-up') {
		margin-top: 54px;
	}
}

.results-pagination {
	position: static !important;

	@include mq('sp-up') {
		margin: 44px 0 0 -5px;
		text-align: left;
	}

	@include mq('sp-down') {
		margin-top: 30px;
	}

  .swiper-pagination-bullet {
    background: #fff;
    height: 12px;
    margin: 0 10px !important;
    opacity: 1;
    position: relative;
    width: 12px;

    &:focus {
      outline: none;
    }

    &.swiper-pagination-bullet-active:after {
      border: solid 1px #fff;
      border-radius: 50%;
      content: '';
      display: block;
      height: 20px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
    }
  }
}

.results-itemLink {
  background: #fff;
  color: #3e3e3e;
	display: block;

	@include mq('sp-up') {
		transition: opacity .2s;

		&:hover {
			opacity: .7;
		}
	}
}

.results-itemLinkInner {
  padding: 12px 16px 20px;

	@include mq('sp-down') {
		padding: 12px 12px 8px;
	}
}

.results-itemFig {
	img {
		width: 100%;
	}
}

.results-itemTtl {
  font-size: 2rem;
  font-weight: 700;

	@include mq('sp-down') {
		font-size: 1.4rem;
	}
}

.results-itemTxt {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-top: 6px;

	@include mq('sp-down') {
		font-size: 1.2rem;
	}
}

/* price
---------------------------- */

.price {

	@include mq('sp-up') {
		margin: 118px auto 0;
		max-width: 1040px;
		padding: 0 40px;
		width: 100%;
	}

	@include mq('sp-down') {
		margin: 0 16px;
    padding-top: 36px;
	}

	.util-ttl {
		text-align: center;
	}
}

.price-table {
  border: solid 1px #707070;
  border-collapse: collapse;
  font-size: 1.8rem;
  margin-top: 54px;
  width: 100%;

	@include mq('sp-down') {
		font-size: 2rem;
		margin-top: 38px;
	}

	th,
	td {
    font-family: $font-family-english;
    font-weight: 500;
		padding: 0.8em 20px;

		@include mq('sp-up') {
			font-size: 2.4rem;
			font-weight: 600;
			padding: 0.5em 1.6em;
		}

		@include mq('sp-down') {
			padding-top: 0.6em;
			padding-bottom: 0.6em;
		}
  }

  th {
    background: #3e3e3e;
    color: #fff;
    text-align: center;
    width: 27.3%;

		@include mq('sp-down') {
			width: 29.3%;
		}
  }

  td {
    background: #fff;
	}

	tr:not(:first-child) {
		th {
			border-top: solid 1px #ddd;
		}

		td {
			border-top: solid 1px #707070;
		}
	}
}

tr:not(:first-child) .price-table td {
  border-top: solid 1px #707070;
}

.price-txt {
  font-size: 1.2rem;
	margin-top: 10px;

	@include mq('sp-up') {
		margin-top: 1em;
	}
}

/* bg wrapper
---------------------------- */

.bg-wrapper {
  position: relative;

  &:before {
    background: #3e3e3e;
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    top: 294px;
		width: 100%;

		@include mq('sp-up') {
			bottom: 138px;
			top: 146px;
			width: 980 / 1280 * 100%;
		}
	}
}

/* comments
---------------------------- */

.comments {
  margin-top: 116px;
  position: relative;
  z-index: 1;

	@include mq('sp-down') {
		margin: 54px 16px 0;
	}
}

.comments-inner {
  display: flex;
  margin: 0 auto;
  max-width: $layout-width-inner;
  position: relative;
  width: 100%;
  z-index: 1;
}

.comments-box {
  background: #fff;
	box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);

	@include mq('sp-up') {
		flex: 0 1 668px;
		padding: 114px 60px 124px;
	}

	@include mq('sp-down') {
		padding: 40px 20px 32px;
    width: 100%;
	}
}

.comments-list {
	display: flex;
	flex-wrap: wrap;
  line-height: 1.65;
	margin-top: 40px;

	@include mq('sp-up') {
		margin-top: 54px;
	}

	@include mq('sp-down') {
		margin-top: 30px;
	}
}

.comments-item {
  display: flex;
	font-size: 1.6rem;
	line-height: (24 / 16);
  text-align: justify;
	text-justify: inter-ideograph;
	font-weight: bold;

	@include mq('sp-down') {
		font-size: 1.4rem;
    letter-spacing: 0.01em;
		line-height: (24 / 16);
		font-weight: 500;
	}

  &:before {
    content: '';
    display: block;
    flex: 0 0 56px;
    height: 56px;
		margin-right: 24px;

		@include mq('sp-up') {
			flex: 0 0 100px;
			height: 100px;
			margin-right: 32px;
		}
  }

  &:nth-child(1):before {
    background: url(../img/comments1.png) center (center / contain) no-repeat;

		@include mq('retina') {
			background: url(../img/comments1@2x.png) center (center / contain) no-repeat;
		}
  }

  &:nth-child(2):before {
    background: url(../img/comments2.png) center (center / contain) no-repeat;

		@include mq('retina') {
			background: url(../img/comments2@2x.png) center (center / contain) no-repeat;
		}
  }

  + .comments-item {
		margin-top: 28px;

		@include mq('sp-up') {
			margin-top: 58px;
		}
  }
}

.comments-fig {
  margin-top: 80px;

	@include mq('sp-down') {
		display: none;
	}

  > img {
    width: 100%;
  }
}

/* faq
---------------------------- */

.faq {
  background-image: url(../img/sunyu-kim-1053375-unsplash.png);
  background-position: top center;
  background-size: cover;
  margin-top: 60px;
  padding: 36px 16px 40px;
  position: relative;
	z-index: 1;

	@include mq('sp-up') {
		background-attachment: fixed;
		margin-top: 120px;
		padding: 56px 0 124px;
	}

	@include mq('sp-down') {
		padding-bottom: 64px;
	}

	@include mq('retina') {
		background-image: url(../img/sunyu-kim-1053375-unsplash@2x.png) top (center / cover);
	}

  .util-ttl {
    text-align: center;
  }
}

.faq-inner {
  margin: 56px auto 0;
  max-width: $layout-width-inner;
	width: 100%;

	@include mq('sp-up') {
		padding: 0;
	}

	@include mq('sp-down') {
		margin-top: 38px;
	}
}

.faq-list {
	@include mq('sp-up') {
		margin-left: auto;
		width: 612px;
	}
}

.faq-item {
  background: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 0 18px;

  + .faq-item {
		margin-top: 30px;

		@include mq('sp-up') {
			margin-top: 32px;
		}

		@include mq('sp-down') {
			margin-top: 24px;
		}
  }
}

.faq-itemQuestion {
  align-items: center;
  display: flex;
	padding: 16px 0 14px;
	line-height: (24 / 16);

  &:before {
    background: #4973ff;
    border-radius: 50%;
    color: #fff;
    content: 'Q';
    display: inline-block;
    flex: 0 0 24px;
    font-family: $font-family-english;
    height: 24px;
    line-height: 24px;
		text-align: center;
		font-weight: 600;
  }
}

.faq-itemQuestion_txt {
  flex: 0 1 100%;
  line-height: 1.5;
  margin-left: 0.75em;
	position: relative;
	letter-spacing: 0.025em;
	font-weight: 700;

  &:before {
    background: #4973ff;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: transform .3s;
		width: 15px;
		letter-spacing: normal;
  }

  &:after {
    background: #4973ff;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    right: 0;
    top: 50%;
    transition: transform .3s;
    width: 15px;
    transform: translateY(-50%) rotate(90deg);
  }
}

.faq-item.add-active .faq-itemQuestion_txt:after {
  transform: translateY(-50%) rotate(0);
}

.faq-itemAnswer {
  display: none;
  padding-bottom: 14px;
}

.faq-itemAnswer_txt {
  background: rgba(73, 115, 255, 0.2);
  border-radius: 4px;
  line-height: (24 / 16);
  padding: 14px 14px;

	@include mq('sp-down') {
		font-size: 1.4rem;
		padding: 10px;
	}
}

/* access
---------------------------- */

.access {
  position: relative;
	z-index: 1;

	@include mq('sp-up') {
		display: -ms-grid;
		display: grid;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		-ms-grid-columns: 414px 1fr;
		grid-template-columns: 414px 1fr;
		-ms-grid-rows: auto 1fr;
		grid-template-rows: auto 1fr;
		margin: 120px auto 0;
		max-width: $layout-width-inner;
		padding: 0 0 0 60px;
	}

	@include mq('sp-down') {
		padding: 40px 16px 60px;
	}

  .util-ttl {
    color: #fff;
  }

  .util-link {
		margin-top: 28px;
		letter-spacing: 0.1em;

		@include mq('sp-up') {
			max-width: 314px;
			letter-spacing: 0.1em;
		}

		@include mq('sp-down') {
			margin-top: 24px;
			max-width: 100%;
		}
  }
}

.access-inner {

	@include mq('sp-up') {
		-ms-grid-row: 1;
		-ms-grid-row-span: 1;
		-ms-grid-column: 1;
		-ms-grid-column-span: 1;
		grid-area: 1 / 1 / 2 / 2;
	}
}

.access-ttl {
  color: #fff;
  text-align: left;
}

.access-address {
  color: #fff;
  font-size: 1.2rem;
  line-height: 2;
	margin-top: 30px;

	@include mq('sp-up') {
		font-size: 1.6rem;
		line-height: 1.6;
		margin-top: 44px;
	}

	@include mq('sp-down') {
		line-height: (20 / 14);
		font-size: 1.4rem;
	}
}

.access-linkBox {

	@include mq('sp-up') {
		-ms-grid-row: 2;
		-ms-grid-row-span: 1;
		-ms-grid-column: 1;
		-ms-grid-column-span: 1;
		grid-area: 2 / 1 / 3 / 2;
	}

	@include mq('sp-down') {
		text-align: center;
	}
}

.access-map {

	@include mq('sp-up') {
		box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
		flex: 0 1 720px;
		-ms-grid-row: 1;
		-ms-grid-row-span: 2;
		-ms-grid-column: 2;
		-ms-grid-column-span: 1;
		grid-area: 1 / 2 / 3 / 3;
		height: 520px;
	}

	@include mq('sp-down') {
		height: 240px;
		margin-top: 22px;
	}

	iframe {
		height: 100%;
		width: 100%;
	}
}

/* contact
---------------------------- */

.contact {
  background: url(../img/alex-blajan-159378-unsplash.png) center (center / cover);
	padding: 40px 16px;

	@include mq('sp-up') {
		margin-top: 120px;
		padding: 60px 40px;
	}

	@include mq('retina') {
		background: url(../img/alex-blajan-159378-unsplash@2x.png) center (center / cover);
	}

  input {
    &:-webkit-autofill {
      box-shadow: 0 0 0px 1000px #fff inset;
    }

    &[type="checkbox"] {
      display: none;
    }
  }

  .util-ttl {
    color: #fff;
    text-align: center;
  }
}

.contact-inner {
  background: #fff;
  border-radius: 12px;
  margin: 0 auto;
  max-width: 960px;
  overflow: hidden;
  width: 100%;
}

.contact-header {
  background-color: #000;
  box-shadow: 0 0 4px #3e3e3e;
  padding: 32px 16px;
	position: relative;

	@include mq('sp-up') {
		padding: 58px 0 54px;
	}

	@include mq('sp-down') {
		padding-top: 38px;
		padding-bottom: 38px;
	}

  &:before {
    background: url(../img/contact.jpg) center (center / cover) no-repeat;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: .5;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.contact-headerInner {
  position: relative;
}

.contact-headerTxt {
  color: #fff;
  font-size: 1.4rem;
	margin-top: 4px;

	@include mq('sp-up') {
		font-size: 1.6rem;
		margin-top: 8px;
		text-align: center;
	}

	@include mq('sp-down') {
		line-height: (20 / 14);
	}
}

.contact-content {
	@include mq('sp-up') {
		padding: 60px 120px 60px;
	}

	@include mq('sp-down') {
		padding: 36px 12px 38px;
	}
}

.contact-list {
	font-size: 1.6rem;

	@include mq('sp-up') {
		font-size: 1.6rem;
	}
}

.contact-item {
  + .contact-item {
		margin-top: 27px;

		@include mq('sp-down') {
			margin-top: 26px;
		}

		&.contact-item--radio {
			margin-top: 26px;
		}

		&.contact-item--message {
			margin-top: 26px;
		}
	}

	&:not(.mod-message) {
		@include mq('sp-up') {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
		}
	}

  input {
		&[type="text"],
		&[type="email"] {
      border: none;
      border-bottom: solid 1px #3e3e3e;
      border-radius: 0;
      font-size: 1.6rem;
			font-weight: 400;
			font-family: inherit;
      letter-spacing: .03em;
      padding: 3px 12px 2px;
      position: relative;
			width: 100%;
			color: $color-text;

			@include mq('sp-up') {
				font-size: 1.6rem;
			}

			@include mq('sp-down') {
				padding-left: 0;
				padding-right: 0;
				padding-top: 1px;
				padding-bottom: 1px;
				font-size: 1.4rem;
			}
    }

    &[type="text"] {
      &:hover, &:focus {
        border-color: #4973ff;
        outline: none;
      }
    }

    &[type="email"] {
			&:hover,
			&:focus {
        border-color: #4973ff;
        outline: none;
      }
    }

    &[type="text"] {
			&:hover,
			&:focus {
				+ .contact-focusLine {
					opacity: 1;
				}
      }
    }

    &[type="email"] {
			&:hover,
			&:focus {
				+ .contact-focusLine {
					opacity: 1;
				}
      }
    }

    &[type="radio"] {
      display: none;
      vertical-align: text-top;
    }
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    border: solid 1px #3e3e3e;
    border-radius: 0;
    color: $color-text;
		font-size: 1.6rem;
		font-family: inherit;
		font-weight: 500;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 34px 0 8px;;
		transition: box-shadow .2s;

		@include mq('sp-up') {
			letter-spacing: 0.1em;
			width: 260px;

			&:hover {
				-webkit-box-shadow: 0 0 4px #4973ff;
				box-shadow: 0 0 4px #4973ff;
			}
		}

		@include mq('sp-down') {
			font-size: 1.4rem;
			line-height: 38px;
			height: 38px;
			width: 100%;
		}

    &::-ms-expand {
      display: none;
    }
  }

  textarea {
    border: solid 1px #3e3e3e;
    border-radius: 0;
    font-size: 1.6rem;
    height: 160px;
    margin-top: 3px;
    outline: none;
    padding: .5em;
    resize: vertical;
    transition: .2s;
		width: 100%;

		@include mq('sp-up') {
			font-size: 2.1rem;
			height: 200px;

			&:hover {
				border-color: #4973ff;
				box-shadow: 0 0 4px #4973ff;
			}
		}

		@include mq('sp-down') {
			margin-top: 12px;
		}

    &:focus {
      border-color: #4973ff;
      box-shadow: 0 0 4px #4973ff;
    }
  }
}

.contact-inputBox {
	position: relative;

	@include mq('sp-up') {
		flex: 0 1 100%;
	}

	@include mq('sp-down') {
		margin-top: 3px;

		.contact-item--radio & {
			margin-top: 7px;
		}
	}
}

.contact-selectBox {
  position: relative;

	@include mq('sp-down') {
		margin-top: 12px;
	}

  &:after {
    border-bottom: solid 2px #3e3e3e;
    border-right: solid 2px #3e3e3e;
    content: '';
    display: block;
    height: 8px;
    position: absolute;
    right: 16px;
    top: 14px;
    transform: rotate(45deg);
    width: 8px;
  }
}

.contact-focusLine {
  bottom: 1px;
  box-shadow: 0 2px 4px rgba(73, 115, 255, 0.6);
  display: block;
  height: 1px;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: opacity .2s;
  width: 100%;
}

.contact-itemTtl {
  align-items: center;
  display: flex;
	flex: 0 0 188px;
	font-weight: bold;
}

.contact-requireLabel {
  background: #ff4646;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  line-height: 16px;
  margin-left: 12px;
	padding: 0;
	text-align: center;
	width: 40px;

	@include mq('sp-up') {
		font-size: 1.2rem;
		margin-left: 12px;
		padding: 0;
	}

	@include mq('sp-down') {
		margin-left: 20px;
	}
}

.contact-privacy {
  display: inline-block;
	margin-top: 16px;

	@include mq('sp-up') {
		margin-top: 32px;
	}

	@include mq('sp-down') {
		margin-top: 26px;
	}
}

.contact-privacyLabel {
  cursor: pointer;
  display: block;
  font-size: 1.6rem;
  padding-left: 38px;
	position: relative;
	font-weight: 700;

	@include mq('sp-up') {
		font-size: 1.8rem;
		padding-left: 42px;
	}

  &:before {
    background: #fff;
    border: solid 1px #3e3e3e;
    content: '';
    display: block;
    height: 16px;
    left: 0;
    position: absolute;
    top: 2px;
    transition: 0.2s;
		width: 16px;

		@include mq('sp-up') {
			height: 20px;
			width: 20px;
		}

		@include mq('sp-down') {
			width: 18px;
			height: 18px;
		}
	}

	@include mq('sp-up') {
		&:hover {
			&::before {
				border-color: #4973ff;
				box-shadow: 0 0 4px #4973ff;
			}
		}

		&:active {
			&::before {
				background-color: rgba(73, 115, 255, 0.2);
				box-shadow: none;
			}
		}
	}

  &:after {
    border-bottom: solid 2px #4973ff;
    border-left: solid 2px #4973ff;
    content: '';
    display: block;
    height: 6px;
    left: 2px;
    opacity: 0;
    position: absolute;
    top: 6px;
    transform: rotate(-45deg);
    transition: 0.2s;
		width: 12px;

		@include mq('sp-up') {
			left: 4px;
			top: 8px;
		}

		@include mq('sp-down') {
			left: 3px;
		}
  }
}

input[type="checkbox"]:checked + .contact-privacyLabel:after {
  opacity: 1;
}

.contact-radio {
	display: inline-block;
	padding: 0;

	+ .contact-radio {
		@include mq('sp-up') {
			margin-left: 32px;
		}

		@include mq('sp-down') {
			margin-left: 32px;
		}
	}
}

.contact-radioLabel {
  padding-left: 22px;
  position: relative;

  &:before {
    background: #fff;
    border: solid 1px #3e3e3e;
    border-radius: 50%;
    content: '';
    display: block;
    height: 12px;
    left: 0;
    position: absolute;
    top: 2px;
    transition: 0.2s;
		width: 12px;

		@include mq('sp-up') {
			height: 12px;
			top: 3px;
			width: 12px;
		}
	}

	@include mq('sp-up') {
		&:hover {
			&::before {
				border-color: #4973ff;
				box-shadow: 0 0 4px #4973ff;
			}
		}

		&:active {
			&::before {
				background-color: rgba(73, 115, 255, 0.2);
				box-shadow: none;
			}
		}
	}

  &:after {
    background: #4973ff;
    border-radius: 50%;
    content: '';
    display: block;
    height: 6px;
    left: 3px;
    opacity: 0;
    position: absolute;
    top: 5px;
    transition: 0.2s;
		width: 6px;

		@include mq('sp-up') {
			left: 3px;
			top: 6px;
		}
  }
}

input[type="radio"]:checked + .contact-radioLabel:after {
  opacity: 1;
}

.contact-button {
  margin-top: 38px;
  width: 174px;

	@include mq('sp-down') {
		font-size: 1.8rem;
	}

	@include mq('sp-down') {
		padding: 0 1.5em;
		width: 165px;
		margin-top: 32px;
	}

	&:disabled {
    background-color: $color-disable;
  }
}

/* footer
---------------------------- */

.footer {
  background: #3e3e3e;
  padding: 50px 0 56px;

	@include mq('sp-down') {
		padding: 52px 16px 56px;
    text-align: center;
	}
}

.footer-inner {

	@include mq('sp-up') {
		display: flex;
		margin: 0 auto;
		max-width: $layout-width-inner;
		padding: 0 120px;
	}
}

.footer-totopLink {
  background: rgba(255, 255, 255, 0.8);
  border: solid 1px #3e3e3e;
  bottom: 16px;
  display: block;
  height: 50px;
  opacity: 0;
  position: fixed;
  right: 16px;
  transition: .5s;
  visibility: hidden;
  width: 50px;
	z-index: 100;

	@include mq('sp-up') {
		bottom: 40px;
		right: 40px;
	}

  &:after {
    border-right: solid 3px #3e3e3e;
    border-top: solid 3px #3e3e3e;
    content: '';
    display: block;
    height: 15px;
    left: 15px;
    position: absolute;
    top: 20px;
    transform: rotate(-45deg);
    width: 15px;
	}

	.add-scrolled & {
		opacity: 1;
		visibility: visible;
	}
}

.footer-snsList {
  display: flex;

	@include mq('sp-down') {
    justify-content: center;
	}
}

.footer-snsLink {
  color: #fff;
  font-size: 3.8rem;
  opacity: 0.6;
	transition: opacity 0.2s;

	@include mq('sp-up') {
		&:hover {
			opacity: 1;
		}
	}
}

.footer-snsItem {
	@include mq('sp-down') {
		margin-right: 50px;

		&:last-child {
			margin-right: 0;
		}
	}

	+ .footer-snsItem {
		@include mq('sp-up') {
			margin-left: 30px;
		}
	}
}

.footer-navList {
  margin-top: 26px;

	@include mq('sp-down') {
		display: block;
    margin-top: 24px;
	}
}

.footer-navItem {
	@include mq('sp-down') {
		margin-bottom: 12px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	+ .footer-navItem {
		@include mq('sp-up') {
			margin-top: 18px;
		}
	}
}

.footer-navLink {
  color: #fff;
  display: inline-block;
	font-size: 1.4rem;
	letter-spacing: 0.025em;

	@include mq('sp-up') {
		font-size: 1.6rem;
		position: relative;
	}

	@include mq('sp-down') {
		line-height: 2;
	}

	&:after {
		@include mq('sp-up') {
			background-color: #fff;
			bottom: -4px;
			content: '';
			height: 1px;
			left: 0;
			opacity: 0;
			position: absolute;
			transition: opacity 0.2s;
			width: 100%;
		}
	}

	@include mq('sp-up') {
		&:hover {

			&::after {
				opacity: 1;
			}
		}
	}
}

.footer-company {

	@include mq('sp-up') {
		margin-left: auto;
		padding-top: 6px;
	}

	@include mq('sp-down') {
		margin-top: 32px;
	}
}

.footer-companyName {
  color: #fff;
	font-size: 3.2rem;
	font-weight: bold;
	font-family: $font-family-english;
	line-height: 1.4;

	@include mq('sp-up') {
		font-size: 4rem;
	}
}

.footer-copyright {
  color: #fff;
  display: block;
  font-family: $font-family-english;
  font-size: 1.2rem;
	letter-spacing: 0.025em;
	font-weight: 400;
	opacity: 0.6;
	margin-top: 6px;

	@include mq('sp-up') {
		text-align: right;
	}

	@include mq('sp-down') {
		margin-top: 8px;
	}
}
