@charset "UTF-8";
/* リセットCSS
===================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

li, dd {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

/* 基本設定
===================================== */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #f3f3f3;
  color: #3e3e3e;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Droid Sans", sans-serif;
  line-height: 1.45;
  font-weight: 500;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.util-ttl {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  .util-ttl {
    font-size: 3.6rem;
  }
}

@media (max-width: 767px) {
  .util-linkBox {
    text-align: center;
  }
}

.util-link {
  border: solid 1px #3e3e3e;
  color: #3e3e3e;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.2em;
  padding: .8em 0;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .2s, color .2s;
  transition: background-color .2s, color .2s;
}

.util-link.mod-light {
  border-color: #fff;
  color: #fff;
}

@media (min-width: 768px) {
  .util-link.mod-light:hover {
    background: #fff;
    color: #3e3e3e;
  }
  .util-link:hover {
    background: #3e3e3e;
    color: #fff;
  }
}

@media (max-width: 767px) {
  .util-link {
    font-size: 1.8rem;
    margin: 0 auto;
    max-width: 268px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
}

/* コンテンツスタイル
===================================== */
/* header
---------------------------- */
.header {
  background: rgba(255, 255, 255, 0.1);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}

.add-scrolled .header {
  background: rgba(255, 255, 255, 0.6);
}

@media (min-width: 768px) {
  .header {
    height: 80px;
    text-align: center;
    -webkit-transition: .2s;
    transition: .2s;
    z-index: 1000;
  }
}

@media (max-width: 767px) {
  .header {
    background: rgba(255, 255, 255, 0.6);
    height: 68px;
  }
}

@media (min-width: 768px) {
  .header-ttl {
    display: none;
  }
}

@media (max-width: 767px) {
  .header-ttl {
    margin: 20px 0 0 16px;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    font-size: 23px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
  }
}

@media (max-width: 767px) {
  .add-active .header-ttl {
    opacity: 0;
  }
}

.header-burger {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

@media (max-width: 767px) {
  .header-burger {
    display: block;
    height: 26px;
    left: -40px;
    position: absolute;
    top: 20px;
    -webkit-transition: right 0.3s linear;
    transition: right 0.3s linear;
    width: 26px;
  }
}

@media (max-width: 767px) {
  .header-burgerInline {
    background-color: #3e3e3e;
    border-radius: 4px;
    display: block;
    height: 4px;
    left: 0;
    position: absolute;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 26px;
    z-index: 1;
  }
  .header-burgerInline:nth-child(1) {
    top: 2px;
  }
  .header-burgerInline:nth-child(2) {
    top: 10px;
  }
  .header-burgerInline:nth-child(3) {
    top: 18px;
  }
}

@media (max-width: 767px) {
  .add-active .header-burgerInline {
    background-color: #fff;
  }
  .add-active .header-burgerInline:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .add-active .header-burgerInline:nth-child(2) {
    left: 100%;
    opacity: 0;
  }
  .add-active .header-burgerInline:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.header-overlay {
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  -webkit-transition: .3s;
  transition: .3s;
  visibility: hidden;
  width: 100%;
}

.add-active .header-overlay {
  opacity: 1;
  visibility: visible;
}

.header-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .header-nav {
    height: 100%;
  }
}

@media (max-width: 767px) {
  .header-nav {
    background: #fff;
    bottom: 0;
    position: fixed;
    right: -300px;
    text-align: center;
    top: 0;
    -webkit-transition: right 0.3s linear;
    transition: right 0.3s linear;
    width: 300px;
    z-index: 1;
  }
}

@media (max-width: 767px) {
  .add-active .header-nav {
    right: 0;
  }
}

@media (min-width: 768px) {
  .header-navList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) {
  .header-navItem + .header-navItem {
    margin-left: 40px;
  }
}

@media (max-width: 767px) {
  .header-navItem + .header-navItem {
    margin-top: 20px;
  }
}

.header-navLink {
  color: #3e3e3e;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: -.025em;
  position: relative;
}

@media (min-width: 768px) {
  .header-navLink {
    padding: 0.5em 0;
  }
  .header-navLink:after {
    background: #3e3e3e;
    bottom: 0;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    width: 100%;
  }
  .header-navLink:hover:after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@media (max-width: 767px) {
  .header-navLink {
    font-size: 1.8rem;
  }
}

/* hero
---------------------------- */
.hero {
  background-image: url(../img/mv.png);
  background-position: 24% center;
  background-size: cover;
  height: 648px;
  position: relative;
}

@media (min-width: 768px) {
  .hero {
    background-position: center center;
  }
}

@media (max-width: 767px) {
  .hero {
    height: 668px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/mv@2x.png);
  }
}

@media (min-width: 768px) {
  .hero-inner {
    margin: 0 auto;
    max-width: 1240px;
    padding: 228px 20px 0 0;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .hero-inner {
    padding: 220px 16px 0;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .hero-content {
    margin-left: auto;
    max-width: 600px;
  }
}

.hero-ttl {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.66667;
  text-align: left;
}

@media (min-width: 768px) {
  .hero-ttl {
    font-size: 3.2rem;
    line-height: 1.5;
  }
}

.hero-txt {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0.025em;
  line-height: 1.45;
  margin-top: 30px;
  text-align: left;
}

@media (max-width: 767px) {
  .hero-txt {
    font-size: 1.4rem;
    line-height: 1.25;
    margin-top: 24px;
  }
}

.hero-link,
.contact-button {
  background-color: #ffaa3b;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
          box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
  color: #fff;
  display: block;
  font-size: 1.8rem;
  letter-spacing: .025em;
  line-height: 48px;
  height: 48px;
  margin-top: 40px;
  text-align: center;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
  width: 280px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .hero-link:not(:disabled):hover,
  .contact-button:not(:disabled):hover {
    background-color: #f18900;
  }
}

@media (max-width: 767px) {
  .hero-link,
  .contact-button {
    margin: 30px auto 0;
    width: 222px;
    font-size: 1.6rem;
  }
}

/* news
---------------------------- */
.news .util-ttl {
  text-align: center;
}

.news .util-linkBox {
  margin: 40px 16px 0;
}

@media (max-width: 767px) {
  .news .util-linkBox {
    margin: 38px 16px 0;
  }
}

.news .util-link {
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media (max-width: 767px) {
  .news .util-link {
    padding-top: 13px;
    padding-bottom: 13px;
  }
}

@media (min-width: 768px) {
  .news {
    margin: 120px auto 0;
    max-width: 1200px;
    padding: 0;
    width: 100%;
  }
  .news .util-link {
    width: 236px;
  }
  .news .util-link:hover {
    background: #3e3e3e;
    color: #fff;
  }
}

@media (max-width: 767px) {
  .news {
    margin: -40px 16px 0;
    position: relative;
    z-index: 1;
  }
}

.news-inner {
  background: #fff;
  -webkit-box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
          box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
}

@media (min-width: 768px) {
  .news-inner {
    padding: 56px 48px 40px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .news-inner {
    padding: 36px 0 38px;
  }
}

.news-ttl,
.faq-ttl,
.access-ttl {
  font-family: "Montserrat", sans-serif;
  font-size: 3.6rem;
  font-weight: bold;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 767px) {
  .news-ttl,
  .faq-ttl,
  .access-ttl {
    font-size: 3rem;
  }
}

.news-list {
  border-top: solid 2px #f0f0f0;
  margin-top: 55px;
}

@media (max-width: 767px) {
  .news-list {
    margin-top: 36px;
  }
}

.news-item {
  border-bottom: solid 2px #f0f0f0;
  font-size: 1.8rem;
}

.news-itemLink {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3e3e3e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: .025em;
  position: relative;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

@media (max-width: 767px) {
  .news-itemLink {
    padding: 12px 34px 12px 16px;
  }
}

@media (min-width: 768px) {
  .news-itemLink {
    padding: 38px 110px 38px 12px;
  }
  .news-itemLink:after {
    right: 30px;
  }
  .news-itemLink:hover {
    background-color: rgba(73, 115, 255, 0.1);
  }
}

.news-itemLink:after {
  border-right: solid 3px #3e3e3e;
  border-top: solid 3px #3e3e3e;
  content: '';
  display: block;
  height: 15px;
  position: absolute;
  right: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  width: 15px;
}

@media (max-width: 959px) {
  .news-itemLink {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.news-itemDate {
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
  font-weight: 400;
}

@media (max-width: 767px) {
  .news-itemDate {
    font-size: 1.4rem;
  }
}

.news-itemCategory {
  background: #fff;
  border: solid 2px #4973ff;
  border-radius: 30px;
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1.8;
  margin-left: 38px;
}

@media (min-width: 768px) {
  .news-itemCategory {
    font-size: 1.4rem;
    padding: 0 30px;
    white-space: nowrap;
  }
}

@media (max-width: 767px) {
  .news-itemCategory {
    padding: 0 14px;
    line-height: 1.4;
  }
}

@media (max-width: 959px) {
  .news-itemCategory {
    margin-left: 20px;
  }
}

.news-itemTxt {
  line-height: 1.6;
  margin-left: 40px;
  letter-spacing: 0.025em;
}

@media (max-width: 767px) {
  .news-itemTxt {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    font-size: 1.4rem;
    line-height: 1.42857;
  }
}

@media (max-width: 959px) {
  .news-itemTxt {
    margin: 8px 0 0 0;
  }
}

/* service
---------------------------- */
.service {
  background: linear-gradient(to bottom, #3e3e3e 0, #3e3e3e 400px, transparent 400px, transparent 100%);
  margin-top: 60px;
  padding-top: 36px;
}

.service .util-ttl {
  color: #fff;
  text-align: center;
}

@media (min-width: 768px) {
  .service {
    margin-top: 120px;
    padding-top: 58px;
  }
}

.service-inner {
  margin: 54px auto 0;
  max-width: 1040px;
}

@media (min-width: 768px) {
  .service-inner {
    padding: 0 40px;
  }
}

@media (max-width: 767px) {
  .service-inner {
    margin: 38px 16px 0;
  }
}

.service-list {
  background: #fff;
  -webkit-box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
          box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
}

@media (min-width: 768px) {
  .service-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .service-list {
    padding: 40px 0 34px;
  }
}

.service-item {
  padding: 0 16px;
}

@media (max-width: 767px) {
  .service-item + .service-item {
    margin-top: 40px;
  }
}

.service-item dt {
  background-position: top 12px center;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: .2em;
  line-height: 1.3;
  padding-top: 72px;
  text-align: center;
}

@media (max-width: 767px) {
  .service-item dt {
    background-size: 52px;
    font-size: 2rem;
  }
}

.service-item:nth-child(1) dt {
  background-image: url(../img/service1.svg);
}

.service-item:nth-child(2) dt {
  background-image: url(../img/service2.svg);
}

@media (max-width: 767px) {
  .service-item:nth-child(2) dt {
    padding-top: 66px;
  }
}

.service-item:nth-child(3) dt {
  background-image: url(../img/service3.svg);
}

@media (max-width: 767px) {
  .service-item:nth-child(3) dt {
    padding-top: 66px;
  }
}

.service-item dd {
  font-size: 1.4rem;
  line-height: 1.72;
  margin-top: 16px;
}

@media (max-width: 767px) {
  .service-item dd {
    margin-top: 12px;
  }
}

@media (min-width: 768px) {
  .service-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.3333%;
            flex: 0 1 33.3333%;
    padding: 58px 45px 60px;
  }
  .service-item dt {
    font-size: 2rem;
    line-height: 1.4;
    padding-top: 72px;
    font-weight: 600;
  }
  .service-item dd {
    line-height: 1.7;
    margin-top: 14px;
  }
}

/* results
---------------------------- */
.results {
  background: #3e3e3e;
  margin: 58px 0 0 0;
  max-width: calc(50vw + 600px);
  padding: 40px 0 40px 16px;
}

@media (min-width: 768px) {
  .results {
    margin: 120px 0 0 auto;
    padding: 58px 0 60px 60px;
  }
}

@media (max-width: 767px) {
  .results {
    padding-top: 36px;
    margin-top: 60px;
  }
}

.results .util-ttl {
  color: #fff;
}

@media (max-width: 767px) {
  .results .util-ttl {
    text-align: center;
    padding-right: 16px;
  }
}

.results .util-linkBox {
  margin: 40px 16px 0 0;
}

@media (min-width: 768px) {
  .results .util-linkBox {
    margin: 42px 0 0 0;
  }
}

@media (max-width: 767px) {
  .results .util-linkBox {
    margin: 24px 16px 0 0;
  }
}

@media (min-width: 768px) {
  .results .util-link {
    max-width: 290px;
  }
}

@media (max-width: 767px) {
  .results .util-link {
    width: 316px;
    max-width: 100%;
  }
}

.results-container {
  margin-top: 36px;
}

@media (min-width: 768px) {
  .results-container {
    margin-top: 54px;
  }
}

.results-pagination {
  position: static !important;
}

@media (min-width: 768px) {
  .results-pagination {
    margin: 44px 0 0 -5px;
    text-align: left;
  }
}

@media (max-width: 767px) {
  .results-pagination {
    margin-top: 30px;
  }
}

.results-pagination .swiper-pagination-bullet {
  background: #fff;
  height: 12px;
  margin: 0 10px !important;
  opacity: 1;
  position: relative;
  width: 12px;
}

.results-pagination .swiper-pagination-bullet:focus {
  outline: none;
}

.results-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:after {
  border: solid 1px #fff;
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
}

.results-itemLink {
  background: #fff;
  color: #3e3e3e;
  display: block;
}

@media (min-width: 768px) {
  .results-itemLink {
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
  }
  .results-itemLink:hover {
    opacity: .7;
  }
}

.results-itemLinkInner {
  padding: 12px 16px 20px;
}

@media (max-width: 767px) {
  .results-itemLinkInner {
    padding: 12px 12px 8px;
  }
}

.results-itemFig img {
  width: 100%;
}

.results-itemTtl {
  font-size: 2rem;
  font-weight: 700;
}

@media (max-width: 767px) {
  .results-itemTtl {
    font-size: 1.4rem;
  }
}

.results-itemTxt {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-top: 6px;
}

@media (max-width: 767px) {
  .results-itemTxt {
    font-size: 1.2rem;
  }
}

/* price
---------------------------- */
@media (min-width: 768px) {
  .price {
    margin: 118px auto 0;
    max-width: 1040px;
    padding: 0 40px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .price {
    margin: 0 16px;
    padding-top: 36px;
  }
}

.price .util-ttl {
  text-align: center;
}

.price-table {
  border: solid 1px #707070;
  border-collapse: collapse;
  font-size: 1.8rem;
  margin-top: 54px;
  width: 100%;
}

@media (max-width: 767px) {
  .price-table {
    font-size: 2rem;
    margin-top: 38px;
  }
}

.price-table th,
.price-table td {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 0.8em 20px;
}

@media (min-width: 768px) {
  .price-table th,
  .price-table td {
    font-size: 2.4rem;
    font-weight: 600;
    padding: 0.5em 1.6em;
  }
}

@media (max-width: 767px) {
  .price-table th,
  .price-table td {
    padding-top: 0.6em;
    padding-bottom: 0.6em;
  }
}

.price-table th {
  background: #3e3e3e;
  color: #fff;
  text-align: center;
  width: 27.3%;
}

@media (max-width: 767px) {
  .price-table th {
    width: 29.3%;
  }
}

.price-table td {
  background: #fff;
}

.price-table tr:not(:first-child) th {
  border-top: solid 1px #ddd;
}

.price-table tr:not(:first-child) td {
  border-top: solid 1px #707070;
}

tr:not(:first-child) .price-table td {
  border-top: solid 1px #707070;
}

.price-txt {
  font-size: 1.2rem;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .price-txt {
    margin-top: 1em;
  }
}

/* bg wrapper
---------------------------- */
.bg-wrapper {
  position: relative;
}

.bg-wrapper:before {
  background: #3e3e3e;
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  top: 294px;
  width: 100%;
}

@media (min-width: 768px) {
  .bg-wrapper:before {
    bottom: 138px;
    top: 146px;
    width: 76.5625%;
  }
}

/* comments
---------------------------- */
.comments {
  margin-top: 116px;
  position: relative;
  z-index: 1;
}

@media (max-width: 767px) {
  .comments {
    margin: 54px 16px 0;
  }
}

.comments-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.comments-box {
  background: #fff;
  -webkit-box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
          box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
}

@media (min-width: 768px) {
  .comments-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 668px;
            flex: 0 1 668px;
    padding: 114px 60px 124px;
  }
}

@media (max-width: 767px) {
  .comments-box {
    padding: 40px 20px 32px;
    width: 100%;
  }
}

.comments-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 1.65;
  margin-top: 40px;
}

@media (min-width: 768px) {
  .comments-list {
    margin-top: 54px;
  }
}

@media (max-width: 767px) {
  .comments-list {
    margin-top: 30px;
  }
}

.comments-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-ideograph;
  font-weight: bold;
}

@media (max-width: 767px) {
  .comments-item {
    font-size: 1.4rem;
    letter-spacing: 0.01em;
    line-height: 1.5;
    font-weight: 500;
  }
}

.comments-item:before {
  content: '';
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 56px;
          flex: 0 0 56px;
  height: 56px;
  margin-right: 24px;
}

@media (min-width: 768px) {
  .comments-item:before {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    height: 100px;
    margin-right: 32px;
  }
}

.comments-item:nth-child(1):before {
  background: url(../img/comments1.png) center center/contain no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .comments-item:nth-child(1):before {
    background: url(../img/comments1@2x.png) center center/contain no-repeat;
  }
}

.comments-item:nth-child(2):before {
  background: url(../img/comments2.png) center center/contain no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .comments-item:nth-child(2):before {
    background: url(../img/comments2@2x.png) center center/contain no-repeat;
  }
}

.comments-item + .comments-item {
  margin-top: 28px;
}

@media (min-width: 768px) {
  .comments-item + .comments-item {
    margin-top: 58px;
  }
}

.comments-fig {
  margin-top: 80px;
}

@media (max-width: 767px) {
  .comments-fig {
    display: none;
  }
}

.comments-fig > img {
  width: 100%;
}

/* faq
---------------------------- */
.faq {
  background-image: url(../img/sunyu-kim-1053375-unsplash.png);
  background-position: top center;
  background-size: cover;
  margin-top: 60px;
  padding: 36px 16px 40px;
  position: relative;
  z-index: 1;
}

@media (min-width: 768px) {
  .faq {
    background-attachment: fixed;
    margin-top: 120px;
    padding: 56px 0 124px;
  }
}

@media (max-width: 767px) {
  .faq {
    padding-bottom: 64px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .faq {
    background-image: url(../img/sunyu-kim-1053375-unsplash@2x.png) top center/cover;
  }
}

.faq .util-ttl {
  text-align: center;
}

.faq-inner {
  margin: 56px auto 0;
  max-width: 1200px;
  width: 100%;
}

@media (min-width: 768px) {
  .faq-inner {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .faq-inner {
    margin-top: 38px;
  }
}

@media (min-width: 768px) {
  .faq-list {
    margin-left: auto;
    width: 612px;
  }
}

.faq-item {
  background: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 0 18px;
}

.faq-item + .faq-item {
  margin-top: 30px;
}

@media (min-width: 768px) {
  .faq-item + .faq-item {
    margin-top: 32px;
  }
}

@media (max-width: 767px) {
  .faq-item + .faq-item {
    margin-top: 24px;
  }
}

.faq-itemQuestion {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 0 14px;
  line-height: 1.5;
}

.faq-itemQuestion:before {
  background: #4973ff;
  border-radius: 50%;
  color: #fff;
  content: 'Q';
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  font-family: "Montserrat", sans-serif;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
}

.faq-itemQuestion_txt {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  line-height: 1.5;
  margin-left: 0.75em;
  position: relative;
  letter-spacing: 0.025em;
  font-weight: 700;
}

.faq-itemQuestion_txt:before {
  background: #4973ff;
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  width: 15px;
  letter-spacing: normal;
}

.faq-itemQuestion_txt:after {
  background: #4973ff;
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  width: 15px;
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}

.faq-item.add-active .faq-itemQuestion_txt:after {
  -webkit-transform: translateY(-50%) rotate(0);
          transform: translateY(-50%) rotate(0);
}

.faq-itemAnswer {
  display: none;
  padding-bottom: 14px;
}

.faq-itemAnswer_txt {
  background: rgba(73, 115, 255, 0.2);
  border-radius: 4px;
  line-height: 1.5;
  padding: 14px 14px;
}

@media (max-width: 767px) {
  .faq-itemAnswer_txt {
    font-size: 1.4rem;
    padding: 10px;
  }
}

/* access
---------------------------- */
.access {
  position: relative;
  z-index: 1;
}

@media (min-width: 768px) {
  .access {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 414px 1fr;
    grid-template-columns: 414px 1fr;
    -ms-grid-rows: auto 1fr;
    grid-template-rows: auto 1fr;
    margin: 120px auto 0;
    max-width: 1200px;
    padding: 0 0 0 60px;
  }
}

@media (max-width: 767px) {
  .access {
    padding: 40px 16px 60px;
  }
}

.access .util-ttl {
  color: #fff;
}

.access .util-link {
  margin-top: 28px;
  letter-spacing: 0.1em;
}

@media (min-width: 768px) {
  .access .util-link {
    max-width: 314px;
    letter-spacing: 0.1em;
  }
}

@media (max-width: 767px) {
  .access .util-link {
    margin-top: 24px;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .access-inner {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
  }
}

.access-ttl {
  color: #fff;
  text-align: left;
}

.access-address {
  color: #fff;
  font-size: 1.2rem;
  line-height: 2;
  margin-top: 30px;
}

@media (min-width: 768px) {
  .access-address {
    font-size: 1.6rem;
    line-height: 1.6;
    margin-top: 44px;
  }
}

@media (max-width: 767px) {
  .access-address {
    line-height: 1.42857;
    font-size: 1.4rem;
  }
}

@media (min-width: 768px) {
  .access-linkBox {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
  }
}

@media (max-width: 767px) {
  .access-linkBox {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .access-map {
    -webkit-box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
            box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
    -webkit-box-flex: 0;
        -ms-flex: 0 1 720px;
            flex: 0 1 720px;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 3 / 3;
    height: 520px;
  }
}

@media (max-width: 767px) {
  .access-map {
    height: 240px;
    margin-top: 22px;
  }
}

.access-map iframe {
  height: 100%;
  width: 100%;
}

/* contact
---------------------------- */
.contact {
  background: url(../img/alex-blajan-159378-unsplash.png) center center/cover;
  padding: 40px 16px;
}

@media (min-width: 768px) {
  .contact {
    margin-top: 120px;
    padding: 60px 40px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .contact {
    background: url(../img/alex-blajan-159378-unsplash@2x.png) center center/cover;
  }
}

.contact input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
          box-shadow: 0 0 0px 1000px #fff inset;
}

.contact input[type="checkbox"] {
  display: none;
}

.contact .util-ttl {
  color: #fff;
  text-align: center;
}

.contact-inner {
  background: #fff;
  border-radius: 12px;
  margin: 0 auto;
  max-width: 960px;
  overflow: hidden;
  width: 100%;
}

.contact-header {
  background-color: #000;
  -webkit-box-shadow: 0 0 4px #3e3e3e;
          box-shadow: 0 0 4px #3e3e3e;
  padding: 32px 16px;
  position: relative;
}

@media (min-width: 768px) {
  .contact-header {
    padding: 58px 0 54px;
  }
}

@media (max-width: 767px) {
  .contact-header {
    padding-top: 38px;
    padding-bottom: 38px;
  }
}

.contact-header:before {
  background: url(../img/contact.jpg) center center/cover no-repeat;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  opacity: .5;
  position: absolute;
  top: 0;
  width: 100%;
}

.contact-headerInner {
  position: relative;
}

.contact-headerTxt {
  color: #fff;
  font-size: 1.4rem;
  margin-top: 4px;
}

@media (min-width: 768px) {
  .contact-headerTxt {
    font-size: 1.6rem;
    margin-top: 8px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .contact-headerTxt {
    line-height: 1.42857;
  }
}

@media (min-width: 768px) {
  .contact-content {
    padding: 60px 120px 60px;
  }
}

@media (max-width: 767px) {
  .contact-content {
    padding: 36px 12px 38px;
  }
}

.contact-list {
  font-size: 1.6rem;
}

@media (min-width: 768px) {
  .contact-list {
    font-size: 1.6rem;
  }
}

.contact-item + .contact-item {
  margin-top: 27px;
}

@media (max-width: 767px) {
  .contact-item + .contact-item {
    margin-top: 26px;
  }
}

.contact-item + .contact-item.contact-item--radio {
  margin-top: 26px;
}

.contact-item + .contact-item.contact-item--message {
  margin-top: 26px;
}

@media (min-width: 768px) {
  .contact-item:not(.mod-message) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contact-item input[type="text"], .contact-item input[type="email"] {
  border: none;
  border-bottom: solid 1px #3e3e3e;
  border-radius: 0;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: inherit;
  letter-spacing: .03em;
  padding: 3px 12px 2px;
  position: relative;
  width: 100%;
  color: #3e3e3e;
}

@media (min-width: 768px) {
  .contact-item input[type="text"], .contact-item input[type="email"] {
    font-size: 1.6rem;
  }
}

@media (max-width: 767px) {
  .contact-item input[type="text"], .contact-item input[type="email"] {
    padding-left: 0;
    padding-right: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 1.4rem;
  }
}

.contact-item input[type="text"]:hover, .contact-item input[type="text"]:focus {
  border-color: #4973ff;
  outline: none;
}

.contact-item input[type="email"]:hover, .contact-item input[type="email"]:focus {
  border-color: #4973ff;
  outline: none;
}

.contact-item input[type="text"]:hover + .contact-focusLine, .contact-item input[type="text"]:focus + .contact-focusLine {
  opacity: 1;
}

.contact-item input[type="email"]:hover + .contact-focusLine, .contact-item input[type="email"]:focus + .contact-focusLine {
  opacity: 1;
}

.contact-item input[type="radio"] {
  display: none;
  vertical-align: text-top;
}

.contact-item select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border: solid 1px #3e3e3e;
  border-radius: 0;
  color: #3e3e3e;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 34px 0 8px;
  -webkit-transition: -webkit-box-shadow .2s;
  transition: -webkit-box-shadow .2s;
  transition: box-shadow .2s;
  transition: box-shadow .2s, -webkit-box-shadow .2s;
}

@media (min-width: 768px) {
  .contact-item select {
    letter-spacing: 0.1em;
    width: 260px;
  }
  .contact-item select:hover {
    -webkit-box-shadow: 0 0 4px #4973ff;
    box-shadow: 0 0 4px #4973ff;
  }
}

@media (max-width: 767px) {
  .contact-item select {
    font-size: 1.4rem;
    line-height: 38px;
    height: 38px;
    width: 100%;
  }
}

.contact-item select::-ms-expand {
  display: none;
}

.contact-item textarea {
  border: solid 1px #3e3e3e;
  border-radius: 0;
  font-size: 1.6rem;
  height: 160px;
  margin-top: 3px;
  outline: none;
  padding: .5em;
  resize: vertical;
  -webkit-transition: .2s;
  transition: .2s;
  width: 100%;
}

@media (min-width: 768px) {
  .contact-item textarea {
    font-size: 2.1rem;
    height: 200px;
  }
  .contact-item textarea:hover {
    border-color: #4973ff;
    -webkit-box-shadow: 0 0 4px #4973ff;
            box-shadow: 0 0 4px #4973ff;
  }
}

@media (max-width: 767px) {
  .contact-item textarea {
    margin-top: 12px;
  }
}

.contact-item textarea:focus {
  border-color: #4973ff;
  -webkit-box-shadow: 0 0 4px #4973ff;
          box-shadow: 0 0 4px #4973ff;
}

.contact-inputBox {
  position: relative;
}

@media (min-width: 768px) {
  .contact-inputBox {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 767px) {
  .contact-inputBox {
    margin-top: 3px;
  }
  .contact-item--radio .contact-inputBox {
    margin-top: 7px;
  }
}

.contact-selectBox {
  position: relative;
}

@media (max-width: 767px) {
  .contact-selectBox {
    margin-top: 12px;
  }
}

.contact-selectBox:after {
  border-bottom: solid 2px #3e3e3e;
  border-right: solid 2px #3e3e3e;
  content: '';
  display: block;
  height: 8px;
  position: absolute;
  right: 16px;
  top: 14px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 8px;
}

.contact-focusLine {
  bottom: 1px;
  -webkit-box-shadow: 0 2px 4px rgba(73, 115, 255, 0.6);
          box-shadow: 0 2px 4px rgba(73, 115, 255, 0.6);
  display: block;
  height: 1px;
  left: 0;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  width: 100%;
}

.contact-itemTtl {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 188px;
          flex: 0 0 188px;
  font-weight: bold;
}

.contact-requireLabel {
  background: #ff4646;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  line-height: 16px;
  margin-left: 12px;
  padding: 0;
  text-align: center;
  width: 40px;
}

@media (min-width: 768px) {
  .contact-requireLabel {
    font-size: 1.2rem;
    margin-left: 12px;
    padding: 0;
  }
}

@media (max-width: 767px) {
  .contact-requireLabel {
    margin-left: 20px;
  }
}

.contact-privacy {
  display: inline-block;
  margin-top: 16px;
}

@media (min-width: 768px) {
  .contact-privacy {
    margin-top: 32px;
  }
}

@media (max-width: 767px) {
  .contact-privacy {
    margin-top: 26px;
  }
}

.contact-privacyLabel {
  cursor: pointer;
  display: block;
  font-size: 1.6rem;
  padding-left: 38px;
  position: relative;
  font-weight: 700;
}

@media (min-width: 768px) {
  .contact-privacyLabel {
    font-size: 1.8rem;
    padding-left: 42px;
  }
}

.contact-privacyLabel:before {
  background: #fff;
  border: solid 1px #3e3e3e;
  content: '';
  display: block;
  height: 16px;
  left: 0;
  position: absolute;
  top: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 16px;
}

@media (min-width: 768px) {
  .contact-privacyLabel:before {
    height: 20px;
    width: 20px;
  }
}

@media (max-width: 767px) {
  .contact-privacyLabel:before {
    width: 18px;
    height: 18px;
  }
}

@media (min-width: 768px) {
  .contact-privacyLabel:hover::before {
    border-color: #4973ff;
    -webkit-box-shadow: 0 0 4px #4973ff;
            box-shadow: 0 0 4px #4973ff;
  }
  .contact-privacyLabel:active::before {
    background-color: rgba(73, 115, 255, 0.2);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.contact-privacyLabel:after {
  border-bottom: solid 2px #4973ff;
  border-left: solid 2px #4973ff;
  content: '';
  display: block;
  height: 6px;
  left: 2px;
  opacity: 0;
  position: absolute;
  top: 6px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 12px;
}

@media (min-width: 768px) {
  .contact-privacyLabel:after {
    left: 4px;
    top: 8px;
  }
}

@media (max-width: 767px) {
  .contact-privacyLabel:after {
    left: 3px;
  }
}

input[type="checkbox"]:checked + .contact-privacyLabel:after {
  opacity: 1;
}

.contact-radio {
  display: inline-block;
  padding: 0;
}

@media (min-width: 768px) {
  .contact-radio + .contact-radio {
    margin-left: 32px;
  }
}

@media (max-width: 767px) {
  .contact-radio + .contact-radio {
    margin-left: 32px;
  }
}

.contact-radioLabel {
  padding-left: 22px;
  position: relative;
}

.contact-radioLabel:before {
  background: #fff;
  border: solid 1px #3e3e3e;
  border-radius: 50%;
  content: '';
  display: block;
  height: 12px;
  left: 0;
  position: absolute;
  top: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 12px;
}

@media (min-width: 768px) {
  .contact-radioLabel:before {
    height: 12px;
    top: 3px;
    width: 12px;
  }
}

@media (min-width: 768px) {
  .contact-radioLabel:hover::before {
    border-color: #4973ff;
    -webkit-box-shadow: 0 0 4px #4973ff;
            box-shadow: 0 0 4px #4973ff;
  }
  .contact-radioLabel:active::before {
    background-color: rgba(73, 115, 255, 0.2);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.contact-radioLabel:after {
  background: #4973ff;
  border-radius: 50%;
  content: '';
  display: block;
  height: 6px;
  left: 3px;
  opacity: 0;
  position: absolute;
  top: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 6px;
}

@media (min-width: 768px) {
  .contact-radioLabel:after {
    left: 3px;
    top: 6px;
  }
}

input[type="radio"]:checked + .contact-radioLabel:after {
  opacity: 1;
}

.contact-button {
  margin-top: 38px;
  width: 174px;
}

@media (max-width: 767px) {
  .contact-button {
    font-size: 1.8rem;
  }
}

@media (max-width: 767px) {
  .contact-button {
    padding: 0 1.5em;
    width: 165px;
    margin-top: 32px;
  }
}

.contact-button:disabled {
  background-color: #b2b2b2;
}

/* footer
---------------------------- */
.footer {
  background: #3e3e3e;
  padding: 50px 0 56px;
}

@media (max-width: 767px) {
  .footer {
    padding: 52px 16px 56px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .footer-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 120px;
  }
}

.footer-totopLink {
  background: rgba(255, 255, 255, 0.8);
  border: solid 1px #3e3e3e;
  bottom: 16px;
  display: block;
  height: 50px;
  opacity: 0;
  position: fixed;
  right: 16px;
  -webkit-transition: .5s;
  transition: .5s;
  visibility: hidden;
  width: 50px;
  z-index: 100;
}

@media (min-width: 768px) {
  .footer-totopLink {
    bottom: 40px;
    right: 40px;
  }
}

.footer-totopLink:after {
  border-right: solid 3px #3e3e3e;
  border-top: solid 3px #3e3e3e;
  content: '';
  display: block;
  height: 15px;
  left: 15px;
  position: absolute;
  top: 20px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 15px;
}

.add-scrolled .footer-totopLink {
  opacity: 1;
  visibility: visible;
}

.footer-snsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .footer-snsList {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-snsLink {
  color: #fff;
  font-size: 3.8rem;
  opacity: 0.6;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

@media (min-width: 768px) {
  .footer-snsLink:hover {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .footer-snsItem {
    margin-right: 50px;
  }
  .footer-snsItem:last-child {
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .footer-snsItem + .footer-snsItem {
    margin-left: 30px;
  }
}

.footer-navList {
  margin-top: 26px;
}

@media (max-width: 767px) {
  .footer-navList {
    display: block;
    margin-top: 24px;
  }
}

@media (max-width: 767px) {
  .footer-navItem {
    margin-bottom: 12px;
  }
  .footer-navItem:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .footer-navItem + .footer-navItem {
    margin-top: 18px;
  }
}

.footer-navLink {
  color: #fff;
  display: inline-block;
  font-size: 1.4rem;
  letter-spacing: 0.025em;
}

@media (min-width: 768px) {
  .footer-navLink {
    font-size: 1.6rem;
    position: relative;
  }
}

@media (max-width: 767px) {
  .footer-navLink {
    line-height: 2;
  }
}

@media (min-width: 768px) {
  .footer-navLink:after {
    background-color: #fff;
    bottom: -4px;
    content: '';
    height: 1px;
    left: 0;
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .footer-navLink:hover::after {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .footer-company {
    margin-left: auto;
    padding-top: 6px;
  }
}

@media (max-width: 767px) {
  .footer-company {
    margin-top: 32px;
  }
}

.footer-companyName {
  color: #fff;
  font-size: 3.2rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
}

@media (min-width: 768px) {
  .footer-companyName {
    font-size: 4rem;
  }
}

.footer-copyright {
  color: #fff;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.025em;
  font-weight: 400;
  opacity: 0.6;
  margin-top: 6px;
}

@media (min-width: 768px) {
  .footer-copyright {
    text-align: right;
  }
}

@media (max-width: 767px) {
  .footer-copyright {
    margin-top: 8px;
  }
}
